<!-- bottom -->
<div style="padding:10px 0;text-align:center;">
  <a style="width:90%;max-width:600px;font-size:24px;border-radius:10px;display:inline-block;background:#ed3e75;color:white;padding:8px 0px 5px 0px;border-radius:5px;text-decoration:none" rel="nofollow" href="https://docs.google.com/forms/d/e/1FAIpQLSee2-hsmgyZy6ZMp6XxCGhKb0pLEy6_roJ5z3g_imwj7--xNA/viewform" title="Perl Newbies Forum"><img src="/images/forum.png" style="display:inline-block;vertical-align:-30px;width:60px;"><div style="display:inline-block">Let's join Perl Newbies Forum</div></a>
</div>
