<h2>Perl Newbie - Perl is good at Text processing, Linux server admin, Web development</h2>

Perl Newbie is the site for people to leran Perl programing. Perl is good at <b>text processing</b>,<b>Linux server administration</b>, and <b>Web development</b>. You can use Perl on most operation systems. Perl backword compatiblity is very high.

Perl Newbie chears people who try to learn Perl and use Perl for your development. Let't talk about Perl. "He uses Perl and has much fun."

<h3>Functions</h3>

<ul>
  <li><a href="/blog/20100326127089.html">lc</a></li>
</ul>
